* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#7B6383,#668363);
  height: 100vh;
}
.main {
  width: 280px;
  height: 410px;
  background: #899698;
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
  user-select: none;
}
.color {
  height: 250px;
  width: 100%;
  background: #8BADB4;
  border-radius: 5px;
}
.hex-code {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 15px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}
.btns {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
.btns button {
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
}
.genBtn {
  padding: 10px 30px;
  border: none;
  background: #86D080;
}
.copyBtn {
  padding: 8px 25px;
  border: 2px solid #ABE0EC;
  background: transparent;
  color: #ABE0EC;
}